<%= render partial: 'layouts/flash_messages' %>
<div class="new-post-container">
  <div class="create-post-form">
    <h1>Create Post</h1>
    <%= form_for(@post, :url => post_create_path) do |p| %>
      <%= p.text_field :header, :class => 'user-input', :placeholder => 'Header' %>
      <br>
      <br>
      <%= p.text_area :content, :class => 'redactor redact-config', :placeholder => 'Content' %>
      <br>
      <br>
      <%= p.submit(:class => 'btn-submit btn') %>
    <% end %>
  </div>
</div>



